In [1]:
import pandas as pd
from taxbrain.taxbrain import TaxBrain

In [2]:
base_policy = {
    "ALD_DomesticProduction_hc": {"2026": 1.00}
}

In [3]:
reform_url = "https://raw.githubusercontent.com/PSLmodels/Tax-Calculator/master/taxcalc/reforms/ext.json"

In [4]:
dynamic_min = TaxBrain(2025, 2034, microdata="TMD", base_policy=base_policy, reform=reform_url, behavior={"sub": 0, "cg": 0})
dynamic_min.run()
result_df = dynamic_min.weighted_totals("combined", include_total=True) * 1e-12

,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,Total
Base,4.080526,4.558675,4.747951,4.941409,5.149083,5.363421,5.585335,5.814207,6.047603,6.286351,52.574560
Reform,4.080526,4.267077,4.447848,4.632875,4.831295,5.036466,5.249092,5.468640,5.692602,5.921847,49.628267
Difference,0.000000,-0.291598,-0.300102,-0.308534,-0.317788,-0.326954,-0.336243,-0.345567,-0.355001,-0.364504,-2.946293

In [5]:
result_df.to_csv('tax_brain_result_wo_behresp.csv')

In [6]:
dynamic = TaxBrain(2025, 2034, microdata="TMD", base_policy=base_policy, reform=reform_url, behavior={"sub": 0.25, "cg": -3.45})
dynamic.run()
result_df = dynamic.weighted_totals("combined", include_total=True) * 1e-12

,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,Total
Base,4.080526,4.558675,4.747951,4.941409,5.149083,5.363421,5.585335,5.814207,6.047603,6.286351,52.574560
Reform,4.080526,4.330459,4.513691,4.701360,4.902731,5.110789,5.326102,5.548733,5.775851,6.008613,50.298856
Difference,0.000000,-0.228215,-0.234260,-0.240049,-0.246353,-0.252632,-0.259232,-0.265474,-0.271752,-0.277738,-2.275705

In [7]:
result_df.to_csv('tax_brain_result_w_behresp.csv')