In [1]:
# import sys
# # setting path
# sys.path.append('../')

from taxbrain.taxbrain import TaxBrain
from taxbrain import report

In [2]:
tcja_ext = "github://OFRA-ORG:Tax-Calculator-thru74@tcja/taxcalc/reforms/ext.json"

values1 = [
    15339.57 + 2000 * 1,
    30679.14 + 4000 * 1,
    15339.57 + 2000 * 1,
    22979.74 + 3000 * 1,
    30679.14 + 4000 * 1,
]

values2 = [
    15339.57 + 2000 * 2,
    30679.14 + 4000 * 2,
    15339.57 + 2000 * 2,
    22979.74 + 3000 * 2,
    30679.14 + 4000 * 2,
]

values3 = [
    15339.57 + 2000 * 3,
    30679.14 + 4000 * 3,
    15339.57 + 2000 * 3,
    22979.74 + 3000 * 3,
    30679.14 + 4000 * 3,
]

values4 = [
    15339.57 + 2000 * 4,
    30679.14 + 4000 * 4,
    15339.57 + 2000 * 4,
    22979.74 + 3000 * 4,
    30679.14 + 4000 * 4,
]

values5 = [
    15339.57 + 2000 * 5,
    30679.14 + 4000 * 5,
    15339.57 + 2000 * 5,
    22979.74 + 3000 * 5,
    30679.14 + 4000 * 5,
]

values6 = [
    15339.57 + 2000 * 6,
    30679.14 + 4000 * 6,
    15339.57 + 2000 * 6,
    22979.74 + 3000 * 6,
    30679.14 + 4000 * 6,
]

######

reform_std_1 = f"""
{{"STD": {{"2026": [{values1[0]},{values1[1]},{values1[2]},{values1[3]},{values1[4]}]}}}}
"""

reform_std_2 = f"""
{{"STD": {{"2026": [{values2[0]},{values2[1]},{values2[2]},{values2[3]},{values2[4]}]}}}}
"""

reform_std_3 = f"""
{{"STD": {{"2026": [{values3[0]},{values3[1]},{values3[2]},{values3[3]},{values3[4]}]}}}}
"""

reform_std_4 = f"""
{{"STD": {{"2026": [{values4[0]},{values4[1]},{values4[2]},{values4[3]},{values4[4]}]}}}}
"""

reform_std_5 = f"""
{{"STD": {{"2026": [{values5[0]},{values5[1]},{values5[2]},{values5[3]},{values5[4]}]}}}}
"""

reform_std_6 = f"""
{{"STD": {{"2026": [{values6[0]},{values6[1]},{values6[2]},{values6[3]},{values6[4]}]}}}}
"""

In [3]:
reform_dict = {
    "tcja_ext": tcja_ext,
    "std_1": reform_std_1,
    "std_2": reform_std_2,
    "std_3": reform_std_3,
    "std_4": reform_std_4,
    "std_5": reform_std_5,
    "std_6": reform_std_6
}

In [4]:
dynamic = TaxBrain(2025, 2034, microdata="TMD", reform=reform_dict, stacked=True, behavior={"sub": 0.25, "cg": -3.45})
dynamic.run()

In [5]:
df = dynamic.stacked_table * 1e-9
df.to_csv('incremental std deduction increase.csv')

In [6]:
df

,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2025-2034
tcja_ext,0.0,-220.185895,-225.107444,-230.361752,-221.756171,-226.357460,-231.374295,-236.478209,-241.481209,-246.993680,-2080.096114
std_1,0.0,-48.086163,-49.684017,-51.742568,-53.491944,-55.262916,-57.313682,-58.870981,-60.852113,-62.738886,-498.043270
std_2,0.0,-48.132810,-49.894036,-51.697982,-53.365117,-55.163803,-57.604952,-59.572937,-61.364318,-62.976243,-499.772198
std_3,0.0,-47.735643,-49.620173,-51.400061,-53.248347,-54.882604,-56.931655,-58.609085,-60.447173,-62.896580,-495.771322
std_4,0.0,-46.997924,-48.895917,-50.628553,-52.472479,-54.267093,-56.170591,-58.214951,-59.556507,-61.963306,-489.167319
std_5,0.0,-45.522602,-47.680833,-49.256554,-51.435921,-52.966040,-54.725169,-56.877977,-58.971040,-60.851634,-478.287771
std_6,0.0,-44.406751,-46.462781,-47.820207,-49.571942,-51.441466,-53.026159,-55.308660,-57.473720,-59.317815,-464.829501
Total,0.0,-501.067788,-517.345202,-532.907677,-535.341920,-550.341381,-567.146504,-583.932802,-600.146080,-617.738142,-5005.967495