In [1]:
import os
import pandas as pd
from taxbrain.taxbrain import TaxBrain

In [2]:
locale_list = [file[0:4] for file in os.listdir("./subnational/cds/") if file.endswith(".log")]
locale_list.sort()

In [3]:
locale_name_list = [file[0:2].upper()+"-"+file[2:4] for file in os.listdir("./subnational/cds/") if file.endswith(".log")]
locale_name_list.sort()

In [4]:
reform_url = "github://OFRA-ORG:Tax-Calculator-thru74@tcja/taxcalc/reforms/rec_mar_2025.json"

In [5]:
year = 2026
output_list = []

for locale, local_name in zip(locale_list, locale_name_list):
    dynamic = TaxBrain(year, year, microdata="TMD", subnational=True, locale=locale, reform=reform_url, behavior={"sub": 0.25, "cg": -3.45})
    dynamic.run(num_workers=3)
    diff = dynamic.weighted_totals("combined", xtot=0)
    out = round(diff.loc['Difference', year]*1e-6)

    df_base_full = pd.concat([dynamic.base_calc, getattr(dynamic.base_records, 'WT')], axis=1)
    df_base = df_base_full
    df_reform_full = pd.concat([dynamic.reform_calc, getattr(dynamic.reform_records, 'WT')], axis=1)
    df_reform = df_reform_full
    num_units = df_base["WT2026"].sum()
    
    # take_home_base = dynamic.base_data[year]["aftertax_income"].sum()/num_units
    # take_home_reform = dynamic.reform_data[year]["aftertax_income"].sum()/num_units
    
    take_home_base = (df_base["aftertax_income"]*df_base["WT2026"]).sum()/num_units
    take_home_reform = (df_reform["aftertax_income"]*df_reform["WT2026"]).sum()/num_units
    
    out_per_unit = round(diff.loc['Difference', year]/num_units)
    take_home_increase = round(take_home_reform-take_home_base)
   
    output_i = {
        'Congressional district': local_name,
        'Change in tax revenues under OBBB ($ million)': f"{out:,d}",
        'Average change in tax liabilities under OBBB ($)': f"{out_per_unit:,d}",
        'Average change in take-home pay under OBBB ($)': f"{take_home_increase:,d}",
    }
    output_list.append(output_i)

df = pd.DataFrame.from_dict(output_list, orient='columns')

In [6]:
styled_df = df.style.set_caption("The Impact of OBBB on Congressional Districts in "+str(year)).set_table_styles([{
    'selector': 'caption',
    'props': [
        ('font-weight', 'bold'),
        ('font-size', '16px')
    ]
}])

In [7]:
styled_df

In [8]:
df.to_excel('OBBB_Localized_Impact.xlsx', index=False)
df.to_csv('OBBB_Localized_Impact.csv', index=False)