- conda env: based on taxcalc-dev that comes with the taxcalc repo
- code: fork from https://github.com/martinholmer/Tax-Calculator, and then select branch thru74
- add taxbrain code in a new folder

In [1]:
from taxbrain.taxbrain import TaxBrain
from taxbrain import report

In [2]:
json1_rates = """{
    "II_rt1": {"2026": 0.10},
    "II_brk1": {"2026": [12170.98, 24341.94, 12170.98, 17353.27, 24341.94]},
    "PT_rt1": {"2026": 0.10},
    "PT_brk1": {"2026": [12170.98, 24341.94, 12170.98, 17353.27, 24341.94]},
    "II_rt2": {"2026": 0.12},
    "II_brk2": {"2026": [49483.44, 98966.89, 49483.44, 66214.83, 98966.89]},
    "PT_rt2": {"2026": 0.12},
    "PT_brk2": {"2026": [49483.44, 98966.89, 49483.44, 66214.83, 98966.89]},
    "II_rt3": {"2026": 0.22},
    "II_brk3": {"2026": [105511.38, 211022.75, 105511.38, 105481.77, 211022.75]},
    "PT_rt3": {"2026": 0.22},
    "PT_brk3": {"2026": [105511.38, 211022.75, 105511.38, 105481.77, 211022.75]},
    "II_rt4": {"2026": 0.24},
    "II_brk4": {"2026": [201428.14, 402856.25, 201428.14, 201428.14, 402856.25]},
    "PT_rt4": {"2026": 0.24},
    "PT_brk4": {"2026": [201428.14, 402856.25, 201428.14, 201428.14, 402856.25]},
    "II_rt5": {"2026": 0.32},
    "II_brk5": {"2026": [255797.72, 511595.46, 255797.72, 255797.72, 511595.46]},
    "PT_rt5": {"2026": 0.32},
    "PT_brk5": {"2026": [255797.72, 511595.46, 255797.72, 255797.72, 511595.46]},
    "II_rt6": {"2026": 0.35},
    "II_brk6": {"2026": [639523.94, 767393.2, 383696.6, 639523.94, 767393.2]},
    "PT_rt6": {"2026": 0.35},
    "PT_brk6": {"2026": [639523.94, 767393.2, 383696.6, 639523.94, 767393.2]},
    "II_rt7": {"2026": 0.37},
    "II_brk7": {"2026": [9e+99, 9e+99, 9e+99, 9e+99, 9e+99]},
    "PT_rt7": {"2026": 0.37},
    "PT_brk7": {"2026": [9e+99, 9e+99, 9e+99, 9e+99, 9e+99]}
}"""

json2_SD = """{
    "STD": {"2026": [15339.57, 30679.14, 15339.57, 22979.74, 30679.14]}
}"""

json3_personal_exemption = """{
    "II_em": {"2026": 0.00},
    "II_em_ps": {"2026": [9e+99, 9e+99, 9e+99, 9e+99, 9e+99]}
}"""

json4_qbid = """{
    "PT_qbid_rt": {"2026": 0.20},
    "PT_qbid_taxinc_thd": {"2026": [201428.14, 402856.25, 201428.14, 201428.14, 402856.25]},
    "PT_qbid_taxinc_gap": {"2026": [50000.0, 100000.0, 50000.0, 50000.0, 100000.0]},
    "PT_qbid_w2_wages_rt": {"2026": 0.50},
    "PT_qbid_alt_w2_wages_rt": {"2026": 0.25},
    "PT_qbid_alt_property_rt": {"2026": 0.03}
}"""

reform_dict = {
    "Brackets and rates": json1_rates,
    "Standard deduction": json2_SD,
    "Personal exemption": json3_personal_exemption,
    "QBID": json4_qbid
}

In [4]:
reform_url = "github://OFRA-ORG:Tax-Calculator-thru74@tcja/taxcalc/reforms/ext.json"

In [3]:
tb_static = TaxBrain(2026, 2035, microdata="TMD", reform=reform_dict, stacked=True)
tb_static.run()
static_table = tb_static.weighted_totals("combined") * 1e-12

In [5]:
static_table

,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
Base,4.553303,4.742340,4.935564,5.142992,5.357075,5.578726,5.807318,6.040428,6.278878,6.525159
Reform,4.323479,4.503282,4.687168,4.884529,5.088438,5.299595,5.517340,5.739368,5.966463,6.201014
Difference,-0.229825,-0.239058,-0.248396,-0.258462,-0.268637,-0.279130,-0.289978,-0.301060,-0.312415,-0.324145

In [7]:
tb_static.stacked_table * 1e-12

,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2026-2035
Brackets and rates,-0.210698,-0.219340,-0.227975,-0.237124,-0.246394,-0.255937,-0.265722,-0.275656,-0.285774,-0.296158,-2.520779
Standard deduction,-0.112651,-0.116103,-0.119314,-0.122690,-0.126170,-0.129722,-0.133302,-0.136974,-0.140717,-0.144533,-1.282178
Personal exemption,0.160319,0.165715,0.170731,0.175847,0.181087,0.186455,0.191865,0.197368,0.202934,0.208550,1.840871
QBID,-0.066794,-0.069330,-0.071838,-0.074494,-0.077160,-0.079926,-0.082818,-0.085798,-0.088857,-0.092003,-0.789019
Total,-0.229825,-0.239058,-0.248396,-0.258462,-0.268637,-0.279130,-0.289978,-0.301060,-0.312415,-0.324145,-2.751106

In [5]:
tb_dynamic = TaxBrain(2026, 2035, microdata="TMD", reform=reform_url, behavior={"sub": 0.25})
tb_dynamic.run()
dynamic_table = tb_dynamic.weighted_totals("combined")/1000000000000

In [6]:
dynamic_table

,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
Base,4.553303,4.742340,4.935564,5.142992,5.357075,5.578726,5.807318,6.040428,6.278878,6.525159
Reform,4.324515,4.507708,4.695208,4.896291,5.104152,5.319307,5.541704,5.768494,6.000926,6.240449
Difference,-0.228789,-0.234632,-0.240356,-0.246701,-0.252924,-0.259419,-0.265614,-0.271934,-0.277953,-0.284710

In [7]:
tb_dynmic_max = TaxBrain(2026, 2034, microdata="TMD", reform=reform_url, behavior={"sub": 0.5})
tb_dynmic_max.run()
dynmic_max_table = tb_dynmic_max.weighted_totals("combined")/1000000000000

In [8]:
dynmic_max_table

,2026,2027,2028,2029,2030,2031,2032,2033,2034
Base,4.553303,4.742340,4.935564,5.142992,5.357075,5.578726,5.807318,6.040428,6.278878
Reform,4.382869,4.568618,4.758677,4.962435,5.173001,5.390704,5.615984,5.845612,6.081237
Difference,-0.170434,-0.173722,-0.176886,-0.180557,-0.184074,-0.188022,-0.191334,-0.194816,-0.197641