- conda env: based on taxcalc-dev that comes with the taxcalc repo
- code: fork from https://github.com/martinholmer/Tax-Calculator, and then select branch thru74
- add taxbrain code in a new folder

In [1]:
from taxbrain.taxbrain import TaxBrain
from taxbrain import report

In [2]:
reform_url = "github://PSLmodels:Tax-Calculator@master/taxcalc/reforms/ext.json"

In [3]:
tb_static = TaxBrain(2026, 2035, microdata="TMD", reform=reform_url)
tb_static.run()
static_table = tb_static.weighted_totals("combined")/1000000000000

In [4]:
static_table

,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
Base,4.553303,4.742340,4.935564,5.142992,5.357075,5.578726,5.807318,6.040428,6.278878,6.525159
Reform,4.267364,4.448145,4.633182,4.831612,5.036795,5.249434,5.468992,5.692966,5.922222,6.159156
Difference,-0.285940,-0.294196,-0.302382,-0.311380,-0.320281,-0.329292,-0.338326,-0.347462,-0.356656,-0.366003

In [5]:
tb_dynamic = TaxBrain(2026, 2035, microdata="TMD", reform=reform_url, behavior={"sub": 0.25})
tb_dynamic.run()
dynamic_table = tb_dynamic.weighted_totals("combined")/1000000000000

In [6]:
dynamic_table

,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
Base,4.553303,4.742340,4.935564,5.142992,5.357075,5.578726,5.807318,6.040428,6.278878,6.525159
Reform,4.324515,4.507708,4.695208,4.896291,5.104152,5.319307,5.541704,5.768494,6.000926,6.240449
Difference,-0.228789,-0.234632,-0.240356,-0.246701,-0.252924,-0.259419,-0.265614,-0.271934,-0.277953,-0.284710

In [7]:
tb_dynmic_max = TaxBrain(2026, 2034, microdata="TMD", reform=reform_url, behavior={"sub": 0.5})
tb_dynmic_max.run()
dynmic_max_table = tb_dynmic_max.weighted_totals("combined")/1000000000000

In [8]:
dynmic_max_table

,2026,2027,2028,2029,2030,2031,2032,2033,2034
Base,4.553303,4.742340,4.935564,5.142992,5.357075,5.578726,5.807318,6.040428,6.278878
Reform,4.382869,4.568618,4.758677,4.962435,5.173001,5.390704,5.615984,5.845612,6.081237
Difference,-0.170434,-0.173722,-0.176886,-0.180557,-0.184074,-0.188022,-0.191334,-0.194816,-0.197641