In [1]:
import pandas as pd
from taxbrain.taxbrain import TaxBrain

In [2]:
reform_url = "github://OFRA-ORG:Tax-Calculator-thru74@tcja/taxcalc/reforms/2017_law.json"

In [3]:
locales = ['ak00', 'de00', 'id01', 'id02', 'me02', 'mt00', 'nd00', 'pa08', 'sd00', 'wy00']
locale_names = ['AK-All', 'DE-All', 'ID-01', 'ID-02', 'ME-02', 'MT-All', 'ND-All', 'PA-08', 'SD-All', 'WY-All']

In [4]:
output_list = []

for locale, local_name in zip(locales, locale_names):
    dynamic = TaxBrain(2024, 2026, microdata="TMD", subnational=True, locale=locale, reform=reform_url, behavior={"sub": 0.25, "cg": -3.45})
    dynamic.run()
    diff_2024 = dynamic.differences_table(2024, "weighted_deciles", "iitax")
   
    output_i = {
        'Congressional district': local_name,
        'Change to income tax in 2024 if without TCJA ($)': round((diff_2024.loc['40-50', 'mean']+diff_2024.loc['50-60', 'mean'])/2),
        'Change to after-tax income in 2024 if without TCJA (%)': '{:.2f}'.format(round((diff_2024.loc['40-50', 'pc_aftertaxinc']+diff_2024.loc['50-60', 'pc_aftertaxinc'])/2, 2)),
    }
    output_list.append(output_i)

dynamic = TaxBrain(2024, 2026, microdata="TMD", reform=reform_url, behavior={"sub": 0.25, "cg": -3.45})
dynamic.run()
diff_2024 = dynamic.differences_table(2024, "weighted_deciles", "iitax")

output_j = {
    'Congressional district': "USA",
    'Change to income tax in 2024 if without TCJA ($)': round((diff_2024.loc['40-50', 'mean']+diff_2024.loc['50-60', 'mean'])/2),
    'Change to after-tax income in 2024 if without TCJA (%)': '{:.2f}'.format(round((diff_2024.loc['40-50', 'pc_aftertaxinc']+diff_2024.loc['50-60', 'pc_aftertaxinc'])/2, 2)),
}
output_list.append(output_j)

df = pd.DataFrame.from_dict(output_list, orient='columns')

In [5]:
styled_df = df.style.set_caption("How TCJA Has Lifted Up Middle-Class Families (40th-60th Income Percentile)").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('font-weight', 'bold'),
        ('font-size', '16px')
    ]
}])

In [6]:
styled_df

In [7]:
df.to_excel('TCJA_Localized_Impact.xlsx', index=False)
df.to_csv('TCJA_Localized_Impact.csv', index=False)