In [1]:
# import sys
# # setting path
# sys.path.append('../')

from taxbrain.taxbrain import TaxBrain
from taxbrain import report

In [2]:
tcja_ext = "github://PSLmodels:Tax-Calculator@master/taxcalc/reforms/ext.json"
values1 = [
    15339.57 + 2000 * 1,
    30679.14 + 4000 * 1,
    15339.57 + 2000 * 1,
    22979.74 + 3000 * 1,
    30679.14 + 4000 * 1,
]

values2 = [
    15339.57 + 2000 * 2,
    30679.14 + 4000 * 2,
    15339.57 + 2000 * 2,
    22979.74 + 3000 * 2,
    30679.14 + 4000 * 2,
]

values3 = [
    15339.57 + 2000 * 3,
    30679.14 + 4000 * 3,
    15339.57 + 2000 * 3,
    22979.74 + 3000 * 3,
    30679.14 + 4000 * 3,
]

values4 = [
    15339.57 + 2000 * 4,
    30679.14 + 4000 * 4,
    15339.57 + 2000 * 4,
    22979.74 + 3000 * 4,
    30679.14 + 4000 * 4,
]

values5 = [
    15339.57 + 2000 * 5,
    30679.14 + 4000 * 5,
    15339.57 + 2000 * 5,
    22979.74 + 3000 * 5,
    30679.14 + 4000 * 5,
]

values6 = [
    15339.57 + 2000 * 6,
    30679.14 + 4000 * 6,
    15339.57 + 2000 * 6,
    22979.74 + 3000 * 6,
    30679.14 + 4000 * 6,
]

######

reform_std_1 = f"""
{{"STD": {{"2026": [{values1[0]},{values1[1]},{values1[2]},{values1[3]},{values1[4]}]}}}}
"""

reform_std_2 = f"""
{{"STD": {{"2026": [{values2[0]},{values2[1]},{values2[2]},{values2[3]},{values2[4]}]}}}}
"""

reform_std_3 = f"""
{{"STD": {{"2026": [{values3[0]},{values3[1]},{values3[2]},{values3[3]},{values3[4]}]}}}}
"""

reform_std_4 = f"""
{{"STD": {{"2026": [{values4[0]},{values4[1]},{values4[2]},{values4[3]},{values4[4]}]}}}}
"""

reform_std_5 = f"""
{{"STD": {{"2026": [{values5[0]},{values5[1]},{values5[2]},{values5[3]},{values5[4]}]}}}}
"""

reform_std_6 = f"""
{{"STD": {{"2026": [{values6[0]},{values6[1]},{values6[2]},{values6[3]},{values6[4]}]}}}}
"""

In [3]:
reform_dict = {
    "tcja_ext": tcja_ext,
    "std_1": reform_std_1,
    "std_2": reform_std_2,
    "std_3": reform_std_3,
    "std_4": reform_std_4,
    "std_5": reform_std_5,
    "std_6": reform_std_6
}

In [4]:
dynamic = TaxBrain(2025, 2034, microdata="TMD", reform=reform_dict, stacked=True, behavior={"sub": 0.25, "cg": -3.45})
dynamic.run()

In [5]:
df = dynamic.stacked_table * 1e-9
df.to_csv('../data/incremental std deduction increase.csv')

In [6]:
df

,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2025-2034
tcja_ext,0.0,-220.185895,-228.179237,-236.524948,-231.037552,-238.812369,-247.136768,-255.640162,-264.163902,-273.303187,-2194.984020
std_1,0.0,-48.086163,-49.646091,-51.667213,-53.388669,-55.135268,-57.158310,-58.718560,-60.670586,-62.475635,-496.946496
std_2,0.0,-48.132810,-49.856173,-51.632538,-53.270461,-55.032008,-57.437298,-59.361271,-60.976435,-62.781113,-498.480108
std_3,0.0,-47.735643,-49.602115,-51.345099,-53.164985,-54.783370,-56.796937,-58.450022,-60.123259,-62.647132,-494.648562
std_4,0.0,-46.997924,-48.867575,-50.578480,-52.390263,-54.173005,-55.747689,-58.047162,-59.656165,-61.760863,-488.219126
std_5,0.0,-45.522602,-47.658827,-49.170967,-51.355729,-52.861780,-54.587122,-56.749155,-58.832310,-60.662752,-477.401246
std_6,0.0,-44.406751,-46.386672,-47.775482,-49.493788,-51.364517,-52.911459,-55.195569,-57.303190,-58.836091,-463.673518
Total,0.0,-501.067788,-520.196690,-538.694727,-544.101446,-562.162318,-581.775584,-602.161901,-621.725848,-642.466774,-5114.353076