In [1]:
# import sys
# # setting path
# sys.path.append('../')

from taxbrain.taxbrain import TaxBrain
from taxbrain import report

In [2]:
tcja_ext = "github://PSLmodels:Tax-Calculator@master/taxcalc/reforms/ext.json"
reform_ctc_1 = """{
    "CTC_c": {"2026": 3000.00},
    "ACTC_c": {"2026": 2700.00}
}"""

reform_ctc_2 = """{
    "CTC_c": {"2026": 4000.00},
    "ACTC_c": {"2026": 3700.00}
}"""

reform_ctc_3 = """{
    "CTC_c": {"2026": 0},
    "ACTC_c": {"2026": 0},
    "CTC_new_c": {"2026": 2000.00},
    "CTC_new_c-indexed": {"2026": true},
    "CTC_new_refund_limited": {"2026": true},
    "CTC_new_refund_limit_payroll_rt": {"2026": 1},
    "CTC_new_refund_limited_all_payroll": {"2026": true},
    "CTC_new_ps": {"2026": [200000.0, 400000.0, 200000.0, 200000.0, 400000.0]},
    "CTC_new_prt": {"2026": 0.05},
    "CTC_new_rt": {"2026": 0.15}
}"""

reform_ctc_4 = """{
    "CTC_new_c": {"2026": 3000.00},
    "CTC_new_c-indexed": {"2026": true},
    "CTC_new_refund_limited": {"2026": true},
    "CTC_new_refund_limit_payroll_rt": {"2026": 1},
    "CTC_new_refund_limited_all_payroll": {"2026": true},
    "CTC_new_ps": {"2026": [200000.0, 400000.0, 200000.0, 200000.0, 400000.0]},
    "CTC_new_prt": {"2026": 0.05},
    "CTC_new_rt": {"2026": 0.15}
}"""

reform_ctc_5 = """{
    "CTC_new_c": {"2026": 4000.00},
    "CTC_new_c-indexed": {"2026": true},
    "CTC_new_refund_limited": {"2026": true},
    "CTC_new_refund_limit_payroll_rt": {"2026": 1},
    "CTC_new_refund_limited_all_payroll": {"2026": true},
    "CTC_new_ps": {"2026": [200000.0, 400000.0, 200000.0, 200000.0, 400000.0]},
    "CTC_new_prt": {"2026": 0.05},
    "CTC_new_rt": {"2026": 0.15}
}"""

In [3]:
reform_dict1 = {
    "tcja_ext": tcja_ext,
    "ctc_1": reform_ctc_1,
    "ctc_2": reform_ctc_2
}

In [4]:
dynamic1 = TaxBrain(2025, 2034, microdata="TMD", reform=reform_dict1, stacked=True, behavior={"sub": 0.25, "cg": -3.45})
dynamic1.run()

In [5]:
df1 = dynamic1.stacked_table * 1e-9
df1.to_csv('../data/incremental ctc limit increase 1.csv')

In [6]:
df1

,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2025-2034
tcja_ext,0.0,-220.185895,-228.179237,-236.524948,-231.037552,-238.812369,-247.136768,-255.640162,-264.163902,-273.303187,-2194.984020
ctc_1,0.0,-55.942394,-57.911933,-59.753519,-61.539919,-63.379886,-65.282033,-67.159842,-69.088260,-71.042387,-571.100173
ctc_2,0.0,-49.257841,-50.972406,-52.519731,-54.241652,-55.991175,-57.684618,-59.259433,-61.124789,-62.923097,-503.974742
Total,0.0,-325.386130,-337.063576,-348.798197,-346.819123,-358.183430,-370.103419,-382.059437,-394.376952,-407.268671,-3270.058935

In [11]:
reform_dict2 = {
    "tcja_ext": tcja_ext,
    "ctc_3": reform_ctc_3,
    "ctc_4": reform_ctc_4,
    "ctc_5": reform_ctc_5
}

In [12]:
dynamic2 = TaxBrain(2025, 2034, microdata="TMD", reform=reform_dict2, stacked=True, behavior={"sub": 0.25, "cg": -3.45})
dynamic2.run()

In [13]:
df2 = dynamic2.stacked_table * 1e-9
df2.to_csv('../data/incremental ctc limit increase 2.csv')

In [14]:
df2

,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2025-2034
tcja_ext,0.0,-220.185895,-228.179237,-236.524948,-231.037552,-238.812369,-247.136768,-255.640162,-264.163902,-273.303187,-2194.984020
ctc_3,0.0,-2.761186,-3.091860,-3.346190,-3.687125,-4.109700,-4.515937,-4.912399,-5.350426,-5.915056,-37.689879
ctc_4,0.0,-53.852847,-55.823702,-57.609930,-59.434752,-61.255276,-63.186269,-65.086170,-67.090192,-69.071909,-552.411047
ctc_5,0.0,-45.947262,-47.530752,-49.104552,-50.756719,-52.341808,-53.959444,-55.611818,-57.284060,-59.041276,-471.577692
Total,0.0,-322.747189,-334.625551,-346.585620,-344.916148,-356.519154,-368.798417,-381.250549,-393.888581,-407.331429,-3256.662637