In [1]:
from taxbrain.taxbrain import TaxBrain
from taxbrain import report

In [17]:
from IPython import display

In [9]:
reform_url = "github://OFRA-ORG:Tax-Calculator-thru74@tcja/taxcalc/reforms/ext.json"

In [3]:
## reform specs
SS_threshold_changes = {
    "SS_thd50": {"2025":  [80000, 102500, 80000, 80000, 80000]},
    "SS_thd85": {"2025":  [109000, 141000, 109000, 109000, 109000]}
}

In [34]:
static = TaxBrain(2026, 2035, microdata="TMD", reform=SS_threshold_changes)
static.run()
result_df1a = static.weighted_totals("combined") * 1e-12
diff1a = result_df1a.iloc[2].sum(axis=0)

Baseline: Current law (with TCJA expiration)
Reform: SS threshold change
Time window: 2026-2035
=====================
Revenue difference, total ($T): -0.6636853770018691
Revenue difference, 10-year breakdown ($T):

,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
Base,4.552992,4.742020,4.935232,5.142649,5.356721,5.578357,5.806939,6.040037,6.278474,6.524738
Reform,4.495369,4.682509,4.873821,5.079325,5.291493,5.511103,5.737706,5.968727,6.205094,6.449327
Difference,-0.057624,-0.059511,-0.061411,-0.063324,-0.065228,-0.067255,-0.069232,-0.071310,-0.073381,-0.075411

In [ ]:
print("Baseline: Current law (TCJA expiration)")
print("Reform: SS threshold changes")
print("Time window: 2026-2035")
print("=====================")
print("Revenue difference, total ($T): " + str(diff1a))
print("Revenue difference, 10-year breakdown ($T):")
display.display(result_df1a.iloc[0:3, :])

In [36]:
static = TaxBrain(2026, 2035, microdata="TMD", reform=SS_threshold_changes, behavior={"sub": 0.4})
static.run()
result_df1 = static.weighted_totals("combined") * 1e-12
diff1 = result_df1.iloc[2].sum(axis=0)

In [37]:
print("Baseline: Current law (TCJA expiration)")
print("Reform: SS threshold changes")
print("Time window: 2026-2035")
print("=====================")
print("Revenue difference, total ($T): " + str(diff1))
print("Revenue difference, 10-year breakdown ($T):")
display.display(result_df1.iloc[0:3, :])

Baseline: Current law (TCJA expiration)
Reform: SS threshold changes
Time window: 2026-2035
=====================
Revenue difference, total ($T): -0.7436230181475401
Revenue difference, 10-year breakdown ($T):

,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
Base,4.552992,4.742020,4.935232,5.142649,5.356721,5.578357,5.806939,6.040037,6.278474,6.524738
Reform,4.489156,4.676516,4.866838,5.071809,5.283020,5.502110,5.728125,5.963472,6.194960,6.438530
Difference,-0.063836,-0.065504,-0.068394,-0.070841,-0.073701,-0.076247,-0.078814,-0.076565,-0.083514,-0.086208

In [8]:
(80/25)**(1/40) - 1

0.029505685696538553

In [35]:
static = TaxBrain(2026, 2035, microdata="TMD", base_policy=reform_url, reform=SS_threshold_changes)
static.run()
result_df2a = static.weighted_totals("combined") * 1e-12
diff2a = result_df2a.iloc[2].sum(axis=0)

Baseline: TCJA extended as is
Reform: SS threshold change
Time window: 2026-2035
=====================
Revenue difference, total ($T): -0.5556562864549389
Revenue difference, 10-year breakdown ($T):

,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
Base,4.267077,4.447848,4.632875,4.831295,5.036466,5.249092,5.468640,5.692602,5.921847,6.158764
Reform,4.218833,4.398037,4.581489,4.778323,4.981911,5.192833,5.410703,5.632882,5.860338,6.095499
Difference,-0.048243,-0.049811,-0.051386,-0.052972,-0.054556,-0.056258,-0.057937,-0.059720,-0.061508,-0.063265

In [ ]:
print("Baseline: TCJA extension (as is)")
print("Reform: SS threshold changes")
print("Time window: 2026-2035")
print("=====================")
print("Revenue difference, total ($T): " + str(diff2a))
print("Revenue difference, 10-year breakdown ($T):")
display.display(result_df2a.iloc[0:3, :])

In [32]:
static = TaxBrain(2026, 2035, microdata="TMD", base_policy=reform_url, reform=SS_threshold_changes, behavior={"sub": 0.4})
static.run()
result_df2 = static.weighted_totals("combined") * 1e-12
diff2 = result_df2.iloc[2].sum(axis=0)

Baseline: TCJA extended as is
Reform: SS threshold change
Time window: 2026-2035
=====================
Revenue difference, total ($T): -0.6263388696129609
Revenue difference, 10-year breakdown ($T):

,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
Base,4.267077,4.447848,4.632875,4.831295,5.036466,5.249092,5.468640,5.692602,5.921847,6.158764
Reform,4.213772,4.392101,4.575385,4.771762,4.974465,5.185234,5.402646,5.625877,5.851978,6.086946
Difference,-0.053305,-0.055747,-0.057490,-0.059533,-0.062001,-0.063858,-0.065994,-0.066725,-0.069869,-0.071819

In [42]:
print("Baseline: TCJA extended (as is)")
print("Reform: SS threshold changes")
print("Time window: 2026-2035")
print("=====================")
print("Revenue difference, total ($T): " + str("%.5f" % diff2))
print("Revenue difference, 10-year breakdown ($T):")
display.display(result_df2.iloc[2:3, :])

Baseline: TCJA extended (as is)
Reform: SS threshold changes
Time window: 2026-2035
=====================
Revenue difference, total ($T): -0.62634
Revenue difference, 10-year breakdown ($T):

,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
Difference,-0.053305,-0.055747,-0.05749,-0.059533,-0.062001,-0.063858,-0.065994,-0.066725,-0.069869,-0.071819